{{define "header"}}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<noscript>
		<meta http-equiv="refresh" content="0; url=/javascript-required" />
		</noscript>

		{{ css_tag "css/app.css" }}
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		
		<title>{{ .Trans.Title }}</title>
		
	</head>
	<body>
{{end}}